@import url("http://divvybikes.com/assets/css/chicago/fonts.css?c=943941600");


/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #000;
  font-family: gtPressuraLight, sans-serif;
}
body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: gtPressuraMonoBold, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
h4, h5, h6 {
  font-family: gtPressuraBold, sans-serif;
  letter-spacing: 1px;
}
strong {
  font-family: gtPressuraBold, sans-serif;
  font-weight: normal;
}
#content {
  line-height: 1.6;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #1da0d1;
}
a:hover {
  color: #3db7e4;
}

.bttn, a.bttn:active, a.bttn:visited {
  background-color: #3db7e4;
  color: #f0f0f0;
  text-shadow: none;
  border-radius: 4px;
}
.bttn:hover, a.bttn:hover {
  color: #fff;
  background-color: #1da0d1;
}

a.add-place {
  color: #f0f0f0;
  background-color: #1da0d1;
  text-shadow: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: gtPressuraBold, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 1px;
}
a.add-place:hover {
  color: #fff;
  background-color: #3db7e4;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #fff;
  background-color: #3db7e4;
  box-shadow: 0 2px 0 #2FCAFC, 0 6px 0 rgba(85, 85, 85, 0.325);
}
#site-header a, 
#site-header a:active, 
#site-header a:visited {
  color: #fff;
}
#site-header a:hover {
}


/* =Logo
-------------------------------------------------------------- */

#site-title {
  font-family: gtPressuraBold, sans-serif;
  font-weight: normal;
  font-size: 1em;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em 0;
}
#site-title a:link,
#site-title a:visited {
  text-shadow: none;
  font-size: 1em !important;
  color: #000;
  display: block;
  height: 100%;
  position: relative;
}
#site-title a:hover {}

#site-logo {
  height: 100%;
  width: auto;
  margin-right: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
}
#site-name {
  display: none;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

a#nav-bttn:link,
a#nav-bttn:visited {
  background: #1da0d1;
  color: #eee;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}


/* =Progress Bar
-------------------------------------------------------------- */

.progress-bar span {
  background: #1da0d1;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access a {
  font-family: gtPressuraBold, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.access a:hover {
  background: #1da0d1;
}

a.auth {
  font-family: gtPressuraBold, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #eee;
}
.recent-points li {
  border-bottom: 1px solid #ccc;
}
.recent-points li:hover {
  background: #3db7e4;
}
.recent-points a {
  color: #333;
}


/* =Place Details
-------------------------------------------------------------- */

.place-header-prompt {
  display: block;
  font-size: 0.5em;
  font-family: gtPressuraBold, sans-serif;
  letter-spacing: 0.05em;
}
.existing-station-name,
.planned-station-name {
  padding-left: 50px;
  background: url(images/marker-station-existing.png) left top no-repeat scroll;
}
.planned-station-name {
  background: url(images/marker-station-planned.png) left top no-repeat scroll;
}
.existing-station-details,
.planned-station-details {
  display: none;
}
.place-items {
  padding-bottom: 1.5em;
}
.place-value-description {
  font-family: gtPressuraRegular, sans-serif;
}
.place-items-new-suggestion .place-item-description:after {
  content: "I'd use this location for: ";
  float: left;
  color: #888;
  margin-right: 0.5em;
}
.place-item-work,
.place-item-shopping,
.place-item-fun,
.place-item-home,
.place-value-work,
.place-value-shopping,
.place-value-fun,
.place-value-home {
  display: inline;
  font-family: gtPressuraRegular, sans-serif;
}
.place-item-zip {
  display: none;
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */

.promotion {
  background: #fff;
  float: right;
  margin: 0 0 1em 1em !important;
  padding: 37px 0 0;
  position: relative;
  border: 0;
}

/* Social Links */
.social {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 84px;
}
.sharing {
  margin: 0;
}
.share-link {
  float: right;
  margin-left: 5px;
}

/* Support */
#user_support {
  position: relative;
  float: none;
  text-align: right;
}
#user_support label {
  background-color: #3db7e4;
  font-family: gtPressuraBold, sans-serif;
  font-weight: normal;
  color: #fff;
  box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  border-radius: 4px;
  padding-left: 34px;
}
#user_support:hover label {
  color: #fff;
  background-color: #1da0d1;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #site-title a:link,
  #site-title a:visited {
    padding-left: 8em;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  #site-title {
    padding: 1.25em 0;
  }
  #site-name {
    display: block;
    font-size: 1.5em;
    line-height: 1.875;
    margin-right: 1em;
  }
  #site-title a:link,
  #site-title a:visited {
    padding-left: 10em;
  }
  .access {
    margin-top: 1.25em;
  }
}

@media only screen and (min-width: 1300px) {
  #site-title {
    padding: 1.625em 0;
  }
  #site-title a:link,
  #site-title a:visited {
    padding-left: 11em;
  }
}